@tailwind base;
@tailwind components;
@tailwind utilities;

.featured-item {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.80)), url('/src/assets/home/featured.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}